<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheet.css">
  <title>Test2</title>
  <link href="/assets/application.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/dashboard.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/dept.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/home.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/projects.css?body=1" media="all" rel="stylesheet" type="text/css" />
  <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="/assets/dashboard.js?body=1" type="text/javascript"></script>
<script src="/assets/dept.js?body=1" type="text/javascript"></script>
<script src="/assets/home.js?body=1" type="text/javascript"></script>
<script src="/assets/projects.js?body=1" type="text/javascript"></script>
<script src="/assets/application.js?body=1" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="If+cU3KeuZl65228b3j0eb9MR/NoznyglqrwM0MDAR0=" name="csrf-token" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>
<script> 
$(document).ready(function(){
  $("#flip").click(function(){
    $("#panel").fadeToggle("fast");
    $("#panel3").fadeOut("fast");
    $("#panel4").fadeOut("fast");
  });
});
$(document).ready(function(){
  $("#flip1").click(function(){
    $("#panel1").fadeToggle("fast");
  });
});
$(document).ready(function(){
   $("#flip2").click(function(){
    $("#panel2").fadeToggle("fast");
  });
});
$(document).ready(function(){
   $("#flip3").click(function(){
    $("#panel3").fadeToggle("fast");
    $("#panel").fadeOut("fast");
    $("#panel1").fadeOut("fast");
    $("#panel2").fadeOut("fast");
    $("#panel4").fadeOut("fast");
  });
}); 



$(document).ready(function(){
   $("#fliph1").click(function(){
    $("#panel").fadeOut("fast");
  }); 
});
$(document).ready(function(){
   $("#fliph2").click(function(){
    $("#panel1").fadeOut("fast");
  }); 
});
$(document).ready(function(){
   $("#fliph3").click(function(){
    $("#panel2").fadeOut("fast");
  }); 
});
$(document).ready(function(){
   $("#fliph4").click(function(){
    $("#panel3").fadeOut("fast");
  }); 
});

$(document).ready(function(){
   $("#usr_name").click(function(){
    $("#panel4").fadeToggle("fast");
    $("#panel").fadeOut("fast");
    $("#panel1").fadeOut("fast");
    $("#panel2").fadeOut("fast");
    $("#panel3").fadeOut("fast");
  }); 
});
$(document).ready(function(){
   $("#fliph5").click(function(){
    $("#panel4").fadeOut("fast");
  }); 
});
$(document).ready(function(){
   $("#fliph6").click(function(){
    $("#panel5").fadeOut("fast");
  }); 
});


$(document).ready(function(){
   $("#search").click(function(){
    $("#panel5").fadeToggle("fast");
    $("#panel").fadeOut("fast");
    $("#panel1").fadeOut("fast");
    $("#panel2").fadeOut("fast");
    $("#panel3").fadeOut("fast");
    $("#panel4").fadeOut("fast");
  }); 
});
$(document).ready(function(){
   $("#fliphs").click(function(){
    $("#panel5").fadeOut("fast");
  }); 
});


</script>






<style type="text/css">  



.panels
{
z-index:50;
position:fixed;
align:center;
}


#maintable
{
width:1024px;
position:relative;

}
#content
{

}
#amk
{
border-radius: 10px 10px 10px 10px;
width:600px;
height:600px;
}
h2.a3
{
	border-bottom: 4px solid #1E0B6A;
	color: #26156E;
	font-size: 18px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 0;
	width: 70%;
	font-weight: normal;
}
h1.a4
{
	border-bottom: 4px solid #1E0B6A;
	color: #26156E;
	font-size: 30px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 0;
	width: 50%;
	font-weight: normal;
}
body 
{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #000000;
	
}


#menu
{
	position:fixed;
	overflow: hidden;
	width: 1024px;
	padding: 0px 0px;
	margin: 0px auto 0px auto;
	background:#555555;
	border-radius: 0px 0px 13px 13px;
	font-size: 20px;
	color: white;

}
#menu a
{
	display: inline-block;
	padding: 15px 40px 15px 40px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	color: white;
	border: none;
}



#menu div
{
display: inline-block;
list-style: none;
line-height: normal;
}

#menu a:hover
 {
	text-decoration: none;
        
}
 #menu #flip a {
	text-decoration: none;
	background:#737373;
	color: white;
	text-align:left;
}

#menu .last {
margin-left:-70%;
margin-right:-360%;
}
#flip
{

border:solid 2px #c3c3c3;

}
#panel,#panel1,#panel2,#panel3, #panel4, #panel5
{

box-shadow: 0px 0px 7px 3px #555555;
font-color: white;
padding:5px;
text-align:center;
background-color: #555555;
border:solid 2px #c3c3c3;
border-radius: 0px 0px 10px 10px;

}
#panel
{

margin-right:-125%;
z-index:2;

padding:2px;
display:none;
opacity:1;

}



#panel1
{
margin-top:0%;
margin-right:-60%;

padding:2px;
display:none;
opacity:1;

}
#panel2
{
margin-top:0%;
margin-right:-60%;

padding:2px;
display:none;
opacity:1;

}
#panel3
{
margin-right:-618%;
margin-top:%;


padding:2px;
display:none;
opacity:1;

}

#panel4
{

margin-top:0%;
margin-right:-500%;
padding:2px;
display:none;
opacity:1;

}
#panel5
{


position:absolute;
margin-top:0%;
z-index:2;
background-color: #737373;
box-shadow: 0px 0px 10px 0px #555555;
border:solid 0px #c3c3c3;
padding:2px;
display:none;
opacity:1;
}

.menu_buttons
{
text-align:center;
}
.sign_out
{
color:white;
text-decoration:none;
}

</style>
<body bgcolor="#DFDFDF">
</head>
<body style="overflow:scroll;overflow-x:hidden;">

<center>
<div id="maintable">

<div class="panels">

<table width="250" id="panel" >
<tr><td width="250" >
<font color="white">
<h4><div id="fliph1">&nbsp<&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDEPARTMENTS&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h4><hr>
<h4><div id="flip1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBE    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></h4><hr>
<h4><div id="flip2">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspM.Tech&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></h4><hr>

<h4><a href="/dept/bca" style="text-decoration:none;"><font color="white">BCA</font></a></h4><hr>

<h4><a href="/dept/mca" style="text-decoration:none;"><font color="white">MCA</font></a></h4><hr>

<h4><a href="/dept/mba" style="text-decoration:none;"><font color="white">MBA</font></a></h4>

</font></td></tr>
</table>
</div>


<div class="panels">
<table width="350"  id="panel1" >
<tr><td width="350">
<font color="white">
<h4 id="fliph2"><&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspB.E
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h4><hr>
<h4><a href="/dept/bt" style="text-decoration:none;"><font color="white">Bio Technology</font></a></h4><hr>

<h4><a href="/dept/cv" style="text-decoration:none;"><font color="white">Civil</font></a></h4><hr>

<h4><a href="/dept/cs" style="text-decoration:none;"><font color="white">Computer Science</font></a></h4><hr>

<h4><a href="/dept/ec" style="text-decoration:none;"><font color="white">Electronics and Communication</font></a></h4><hr>

<h4><a href="/dept/ee" style="text-decoration:none;"><font color="white">Electricals and Electronics</font></a></h4><hr>

<h4><a href="/dept/is" style="text-decoration:none;"><font color="white">Information Science</font></a></h4><hr>

<h4><a href="/dept/me" style="text-decoration:none;"><font color="white">Mechanical</font></a></h4><hr>

<h4><a href="/dept/tc" style="text-decoration:none;"><font color="white">Telecommunication</font></a></h4>
</font></td></tr>
</table>
</div>

<div class="panels">
<table width="350"  id="panel2" >
<tr><td width="350">

<font color="white">
<h4 id="fliph3"><&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspM.Tech
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h4><hr>

<h4><a href="/dept/mcs" style="text-decoration:none;"><font color="white">Computer Science and Engineering</font></a></h4><hr>

<h4><a href="/dept/mec" style="text-decoration:none;"><font color="white">Electronics and Communication Engineering</font></a></h4><hr>

<h4><a href="/dept/mme" style="text-decoration:none;"><font color="white">Mechanical Engineering</font></a></h4><hr>

<h4><a href="/dept/mse" style="text-decoration:none;"><font color="white">Software Engineering</font></a></h4><hr>

<h4><a href="/dept/mwt" style="text-decoration:none;"><font color="white">Web Technologies</font></a></h4>

</font></td></tr>
</table>
</div>


<div class="panels">
<table width="250"  id="panel3" >
<tr><td width="250">
<font color="white">
<h4 id="fliph4"><&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMORE
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h4><hr>
<h4>About</h4><hr>
<h4><a href="http://pesit.pes.edu/contact-address" style="text-decoration:none;"><font color="white">Contact Us</font></a></h4><hr>
<h4><a href="http://pesit.pes.edu/" style="text-decoration:none;"><font color="white">PESIT Homepage</font></a></h4>
</font></td></tr>
</table>
</div>


<div class="panels">
<table width="250"  id="panel4" >
<tr><td width="250">
<font color="white">

<h4 id="fliph5"><% if user_signed_in? %><&nbsp&nbsp<%=current_user.username%>&nbsp<% end %>
</h4><hr>

<h4><a href="#" style="text-decoration:none;"><font color="white">Linked-In Profile</font></a></h4><hr>
<h4><a href="/users/edit" style="text-decoration:none;"><font color="white">Edit Profile</font></a></h4><hr>
<h4><font color="white"><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class=>'sign_out'%></font></h4>
</font>
</td></tr>
</table>
</div>






<div class="panels" style="position:absolute; " >
<table width="1024"  id="panel5"  >
<tr><td width="1024">
<div style="">
<font color="white">


<h3 id="fliphs" style="cursor:pointer">Click To Close</h3>



<%= search_form_for @search do |f| %>
<a href="/projects" style="color:white;">reset form</a><br><br>
<font size=2em;>Fill in those fields You think are relevant</font>
<hr width=600px>&nbsp<br>

Search by project code:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= f.text_field :id_eq %><br><br>

search for the following words:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= f.text_field :p_title_or_description_or_patent_stuff_or_product_stuff_or_paper_stuff_or_synopsis_or_objective_cont %>



<br>
&nbsp<hr width=600px>
<h2 style="text-decoration:underline;">Advanced Search</h2></b>

<b>search by tags:</b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= f.text_field :tags_cont %>
<br>
<div id="dept_table" style="width:1000px;">
<br><p><b>Mark the depatments you are searching for</b></p><br>

<table style="margin:auto;text-align:left" >
<tr>
<td><b>Department of Biotechnology</b></td>

<td><%= f.radio_button :if_bt_eq, "1"%>include</td>
<td><%= f.radio_button :if_bt_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_bt_eq, ""%>Doesn't matter</td>
</tr>
<tr>
<td><b>Department of Civil Engineering</b></td>

<td><%= f.radio_button :if_cv_eq, "1"%>include</td>
<td><%= f.radio_button :if_cv_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_cv_eq, ""%>Doesn't matter</td>
</tr>
<tr>	
<td><b>Department of Computer Science and Engineering</b></td>

<td><%= f.radio_button :if_cs_eq, "1"%>include</td>
<td><%= f.radio_button :if_cs_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_cs_eq, ""%>Doesn't matter</td>
</tr>
<tr><td><b>Department of Electrical and Electronics Engineering</b></td>

<td><%= f.radio_button :if_ee_eq, "1"%>include</td>
<td><%= f.radio_button :if_ee_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_ee_eq, ""%>Doesn't matter</td>
</tr>
<tr><td><b>Department of Electronics and Communication Engineering</b></td>


<td><%= f.radio_button :if_ec_eq, "1"%>include</td>
<td><%= f.radio_button :if_ec_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_ec_eq, ""%>Doesn't matter</td>
</tr>
<tr><td><b>Department of Information Science and Engineering</b></td>


<td><%= f.radio_button :if_is_eq, "1"%>include</td>
<td><%= f.radio_button :if_is_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_is_eq, ""%>Doesn't matter</td>
</tr>
<tr><td><b>Department of Mechanical Engineering</b></td>


<td><%= f.radio_button :if_me_eq, "1"%>include</td>
<td><%= f.radio_button :if_me_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_me_eq, ""%>Doesn't matter</td>
</tr>
<tr><td><b>Department of Telecommunication Engineering</b></td>


<td><%= f.radio_button :if_tc_eq, "1"%>include</td>
<td><%= f.radio_button :if_tc_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_tc_eq, ""%>Doesn't matter</td>
</tr>
<tr><td><b>Department of Bachelor of Computer Applications</b></td>


<td><%= f.radio_button :if_bca_eq, "1"%>include</td>
<td><%= f.radio_button :if_bca_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_bca_eq, ""%>Doesn't matter</td>
</tr>
<tr><td><b>Department of Master of Business Administration</b></td>


<td><%= f.radio_button :if_mba_eq, "1"%>include</td>
<td><%= f.radio_button :if_mba_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_mba_eq, ""%>Doesn't matter</td>
</tr>
<tr><td><b>Department of Master of Computer Applications</b></td>


<td><%= f.radio_button :if_mca_eq, "1"%>include</td>
<td><%= f.radio_button :if_mca_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_mca_eq, ""%>Doesn't matter</td>
</tr>
<tr><td><b>Department of M.Tech-Computer Science and Engineering</b></td>


<td><%= f.radio_button :if_mcs_eq, "1"%>include</td>
<td><%= f.radio_button :if_mcs_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_mcs_eq, ""%>Doesn't matter</td>
</tr>
<tr><td><b>Department of M.Tech-Electronics and Communication Engineering&nbsp&nbsp&nbsp&nbsp&nbsp</b></td>


<td><%= f.radio_button :if_mec_eq, "1"%>include</td>
<td><%= f.radio_button :if_mec_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_mec_eq, ""%>Doesn't matter</td>
</tr>
<tr><td><b>Department of M.Tech-Mechanical Engineering</b></td>


<td><%= f.radio_button :if_mme_eq, "1"%>include</td>
<td><%= f.radio_button :if_mme_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_mme_eq, ""%>Doesn't matter</td>
</tr>
<tr><td><b>Department of M.Tech-Software Engineering</b></td>


<td><%= f.radio_button :if_mse_eq, "1"%>include</td>
<td><%= f.radio_button :if_mse_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_mse_eq, ""%>Doesn't matter</td>
</tr>
<tr><td><b>Department of M.Tech-Web Technologies</b></td>


<td><%= f.radio_button :if_mwt_eq, "1"%>include</td>
<td><%= f.radio_button :if_mwt_eq, "0"%>exclude</td>
<td><%= f.radio_button :if_mwt_eq, ""%>Doesn't matter</td>
</tr>
</table>
</div>
<br><br>

<b>Project Status</b><br>

<%= f.radio_button :status_cont, "o"%>Open
<%= f.radio_button :status_cont, "c"%>Closed
<%= f.radio_button :status_cont, "p"%>Past
<%= f.radio_button :status_cont, ""%>Doesn't matter
<br><br>

<b>Project Type</b><br>

<%= f.radio_button :p_type1_cont, "research"%>research
<%= f.radio_button :p_type1_cont, "mini"%>mini
<%= f.radio_button :p_type1_cont, "hobby"%>hobby
<%= f.radio_button :p_type1_cont, "funded"%>funded
<%= f.radio_button :p_type1_cont, ""%>Doesn't matter
<br><br>

<b>Impact Type</b><br>

<%= f.radio_button :p_type2_cont, "technological"%>technological
<%= f.radio_button :p_type2_cont, "econological"%>econological
<%= f.radio_button :p_type2_cont, "sociological"%>sociological
<%= f.radio_button :p_type2_cont, ""%>Doesn't matter

<br><br>

<b>Search by People Working on the Project:<b>
<%= f.text_field :department_cont %>



  <div class="actions"><%= f.submit "Search" %></div>
<% end %>




</font>
</div>
</td></tr>
</table>
</div>










<table id="menu" valign="top">
	<tr>
			

		<td width="200" class="menu_buttons">
			<a href="/dashboard"id="home_button">home</a>	
		</td >

		<td width="214" class="menu_buttons">
			<a href="#" id="flip">Department</a>	
		</td>
                <td width="214" class="menu_buttons"style="background:#737373;">
			<div ><span id="search" style="cursor:pointer;"><b>CONDITIONS</b></span></div>	
		</td>
			<% if user_signed_in? %>
				<td width="310" class="menu_buttons" style="font-size:17px;font-color:white;" id=usr_name >
					<%=current_user.username.upcase%>	
				</td>
			<%else%>

				<td width="310" class="menu_buttons" style="font-size:17px;font-color:white;">
					<a href="/users/sign_in" id="login">Login/Signup</a>
				</td>
			<%end%>

		<td class="last" id="flip3" width="90" class="menu_buttons">
			<a href="#">More</a>	
		</td>
	</tr>
</table>


<br><br><br>
<table border="0" id="content" align="center" width="1024" cellspacing="4">
<tr>

<td width="1022" id="amk" height="600" align="center"bgcolor="white" valign="top">
<center>







<center><h1>Results</h1></center>


<% @project.each do |c| %>
<div class="card">
<center><div class="card1"><br><%= link_to c.p_title, {:controller => 'projects', :action => 'show', :id => c.id} -%><br><br>
<font color = #818181><%= c.description[0...300] %><% if c.description.length > 300 %>...<% end %><br><br></font></div></center></div>
<% end %>













</center>
</td>
</tr>
</table>







</div>
</center>
</body>
</html>
