<!DOCTYPE html>
<html>
<head>


<link rel="stylesheet" type="text/css" href="/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/stylesheet2.css">

<link href="/assets/application.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/dashboard.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/dept.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/home.css?body=1" media="all" rel="stylesheet" type="text/css" />
<link href="/assets/projects.css?body=1" media="all" rel="stylesheet" type="text/css" />
  <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="/assets/dashboard.js?body=1" type="text/javascript"></script>
<script src="/assets/dept.js?body=1" type="text/javascript"></script>
<script src="/assets/home.js?body=1" type="text/javascript"></script>
<script src="/assets/projects.js?body=1" type="text/javascript"></script>
<script src="/assets/application.js?body=1" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="If+cU3KeuZl65228b3j0eb9MR/NoznyglqrwM0MDAR0=" name="csrf-token" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>
<script src="/animate.js"></script>
<body bgcolor="#DFDFDF">
</head>
<body>

<center>
<div id="maintable">

<div class="panels">

<table width="250" id="panel" >
<tr><td width="250" >
<font color="white">
<h4><div id="fliph1">&nbsp<&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDEPARTMENTS&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h4><hr>
<h4><div id="flip1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBE    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></h4><hr>
<h4><div id="flip2">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspM.Tech&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></h4><hr>

<h4><a href="/dept/bca" style="text-decoration:none;"><font color="white">BCA</font></a></h4><hr>

<h4><a href="/dept/mca" style="text-decoration:none;"><font color="white">MCA</font></a></h4><hr>

<h4><a href="/dept/mba" style="text-decoration:none;"><font color="white">MBA</font></a></h4>

</font></td></tr>
</table>
</div>


<div class="panels">
<table width="350"  id="panel1" >
<tr><td width="350">
<font color="white">
<h4 id="fliph2"><&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspB.E
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h4><hr>
<h4><a href="/dept/bt" style="text-decoration:none;"><font color="white">Bio Technology</font></a></h4><hr>

<h4><a href="/dept/cv" style="text-decoration:none;"><font color="white">Civil</font></a></h4><hr>

<h4><a href="/dept/cs" style="text-decoration:none;"><font color="white">Computer Science</font></a></h4><hr>

<h4><a href="/dept/ec" style="text-decoration:none;"><font color="white">Electronics and Communication</font></a></h4><hr>

<h4><a href="/dept/ee" style="text-decoration:none;"><font color="white">Electricals and Electronics</font></a></h4><hr>

<h4><a href="/dept/is" style="text-decoration:none;"><font color="white">Information Science</font></a></h4><hr>

<h4><a href="/dept/me" style="text-decoration:none;"><font color="white">Mechanical</font></a></h4><hr>

<h4><a href="/dept/tc" style="text-decoration:none;"><font color="white">Telecommunication</font></a></h4>
</font></td></tr>
</table>
</div>

<div class="panels">
<table width="350"  id="panel2" >
<tr><td width="350">

<font color="white">
<h4 id="fliph3"><&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspM.Tech
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h4><hr>

<h4><a href="/dept/mcs" style="text-decoration:none;"><font color="white">Computer Science and Engineering</font></a></h4><hr>

<h4><a href="/dept/mec" style="text-decoration:none;"><font color="white">Electronics and Communication Engineering</font></a></h4><hr>

<h4><a href="/dept/mme" style="text-decoration:none;"><font color="white">Mechanical Engineering</font></a></h4><hr>

<h4><a href="/dept/mse" style="text-decoration:none;"><font color="white">Software Engineering</font></a></h4><hr>

<h4><a href="/dept/mwt" style="text-decoration:none;"><font color="white">Web Technologies</font></a></h4>

</font></td></tr>
</table>
</div>


<div class="panels">
<table width="250"  id="panel3" >
<tr><td width="250">
<font color="white">
<h4 id="fliph4"><&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMORE
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h4><hr>

<h4><a href="http://pesit.pes.edu/contact-address" style="text-decoration:none;"><font color="white">Contact Us</font></a></h4><hr>
<h4><a href="http://pesit.pes.edu/" style="text-decoration:none;"><font color="white">PESIT Homepage</font></a></h4><hr>
<b>Created By</b><br><br>

<div><img src="/img/alok.png" height="50"width="50"   style="float:left;display:inline-block;"/>
<div style="display:inline-block;">
<span style="margin-right:3px;">Alok Shankar M</span><br>
<a href="http://in.linkedin.com/pub/alok-shankar/75/731/a15"><font color="white">LinkedIn</font></a><br>
<a href="mailto:alok.shankar.m@gmail.com"><font color="white">Email</font></a></div></div><br>


<div><img src="/img/abhinav.png" height="50"width="50"  style="float:left;display:inline-block;"/>
<div style="display:inline-block;">
Abhinav M Kulkarni<br>
<a href="http://in.linkedin.com/pub/abhinav-kulkarni/5b/126/222"><font color="white">LinkedIn</font></a><br>
<a href="mailto:abhinavmkulkarni@gmail.com"><font color="white">Email</font></a></div></div><br>

<div><img src="/img/akshay.png" height="50"width="50"  style="float:left;display:inline-block;"/>
<div style="display:inline-block;">
Akshay R Deshpande<br>
<a href="http://in.linkedin.com/pub/akshay-r-d/78/2a9/88a/"><font color="white">LinkedIn</font></a><br>
<a href="mailto:jetleerd@gmail.com"><font color="white">Email</font></a></div></div><hr>


<b>Under the Guidance Of</b><br><br>
<div><img src="/img/hod.png" height="50"width="50"  style="float:left;display:inline-block;"/>
<div style="display:inline-block;">
Shylaja S Sharath<br>
<a href="http://in.linkedin.com/pub/shylaja-s-s/1b/409/49b"><font color="white">LinkedIn</font></a><br>
<a href="mailto:shylaja.sharath@pes.edu"><font color="white">Email</font></a></div></div>



</font></td></tr>
</table>
</div>


<div class="panels">
<table width="250"  id="panel4" >
<tr><td width="250">
<font color="white">

<h4 id="fliph5"><% if user_signed_in? %><&nbsp&nbsp<%=current_user.username%>&nbsp<% end %>
</h4><hr>

<h4><a href=<% if user_signed_in? %>"<%= current_user.linkedin %>"<% end %>  style="text-decoration:none;"><font color="white">Linked-In Profile</font></a></h4><hr>
<h4><a href="/users/edit" style="text-decoration:none;"><font color="white">Edit Profile</font></a></h4><hr>
<h4><font color="white"><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class=>'sign_out'%></font></h4>
</font></td></tr>
</table>
</div>






<table id="menu" valign="top">
	<tr>
			

		<td width="200" class="menu_buttons">
			<a href="/dashboard"id="home_button">home</a>	
		</td >

		<td width="200" class="menu_buttons">
			<span style="cursor:pointer;" id="flip">Department</span>	
		</td>
                <td width="200" class="menu_buttons">
			<a href="/projects" id="search">Search</a>	
		</td>
			<% if user_signed_in? %>
				<td width="324" class="menu_buttons" style="font-size:17px;font-color:white;" id=usr_name >
					<%=current_user.username.upcase%>	
				</td>
			<%else%>

				<td width="324" class="menu_buttons" style="font-size:17px;font-color:white;">
					<a href="/users/sign_in" id="login">Login/Signup</a>
				</td>
			<%end%>

		<td class="last" id="flip3" width="100" class="menu_buttons">
			<span style="cursor:pointer;">More</span>	
		</td>
	</tr>
</table>

<br><br><br>

<table border="0" id="content" align="center" width="1024" cellspacing="4">
<tr>

<td width="1022" id="amk" height="600" align="center"bgcolor="white" valign="top">



<center>

<p>These are the current projects in our system</p></center>



<% @project.each do |c| %>
<div class="card9">
<div class="card10"><br><%= link_to c.p_title, {:controller => 'projects', :action => 'show', :id => c.id} -%><span style="float:right;"><% if c.start_date.nil? %><% else %>start date : <%= c.start_date %><% end %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<% if c.end_date.nil? %><% else %> End date : <%= c.end_date %><% end %></span><br><br>
<font color = #818181><%= c.description[0...300] %>...<br><br></font></div></div>
<% end %>

<% if @no>10 %>
<div class="card2" style="width:400px;display:inline-block;"><center><%= paginate @project %></center></div><br><br>
<% end %>

</td>
</tr>
</table>







</div>
</center>
</body>
</html>






